target/
*.class
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
.DS_Store
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.cache-main
.cache-tests
chain-*.csv
logging.log
debug/*
data/debug/*
checkpoint-files/
debug-*.csv