<template name="tagPage">
  <div class="main-container">

    <div class="iframe-wrapper">
      <iframe id="page" frameborder="0"></iframe>
    </div>

    <div class="cleaned-gt">
    <h4>Instructions</h4>
    <p>Press and hold [alt] to switch to removal mode.</p>
    <p>Current mode: {{#if isRemoving}}<span class="label label-danger">removing</span>{{else}}<span class="label label-success">adding</span>{{/if}}</p>
    <p>Zoom level: <input type="range" id="zoom-level" min="50" value="{{zoomLevel}}" max="150" step="1" style="width:30%;display:inline-block;"> {{zoomLevel}}%</p>

    <ul><li>In ac odio vel lorem tincidunt pellentesque. Nam tempor pulvinar turpis. Nunc in leo in libero ultricies interdum.</li>
        <li>Proin ut urna. Donec ultricies nunc dapibus justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
    </ul>

    <div class="btn-toolbar">
      <div class="btn-group">
      <button type="button" class="btn btn-default save-button {{#if saved}}btn-success{{else}}btn-primary{{/if}}"><input type="checkbox" checked="{{#if saved}}checked{{/if}}"> {{#if saved}}Saved{{else}}Save{{/if}}</button>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle btn-danger" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled="{{#if saved}}disabled{{/if}}">
          Skip
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">I don't like this page</a></li>
          <li><a href="#">Page doesn't load</a></li>
          <li><a href="#">Can't decide how to tag this page.</a></li>
        </ul>
      </div>
      </div>
      <button type="button" class="btn btn-default next-tag-page" disabled="{{#if saved}}{{else}}disabled{{/if}}">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    </div>

  </div>

  {{#contentFor "breadcrumbs"}}
    <li><a>Classify</a></li>
    <li>
      {{doc_id}}
    </li>
  {{/contentFor}}

</template>
