<template name="viewAlignmentModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Alignment ‘{{label_name}}’ for ‘{{doc_id}}’</h4>
                </div>

                <div class="modal-body">
                    <div class="aligned-html">
                      {{{formattedAlignment}}}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>