.iframe-wrapper {
  position:absolute;
  left:10px;
  right:30%;
  top:10px;
  bottom:10px;
  box-shadow:0px 2px 6px rgba(0,0,0,0.9);
  background-color:#fff;
  transition: opacity 0.5s ease-in-out;
}
.iframe-wrapper .spinner-container {
  position: absolute;
  /*background-color:rgba(255,255,255,0.9);*/
}
/*.iframe-wrapper .spinner-container::after {
  content: "Please be patient, this might take a while for some pages";
  font-weight: 300;
  color:#777;
  font-size:1.2em;
  position: absolute;
  top:50%;
  left:30%;
  width:40%;
  margin-top:65px;
  line-height:25px;
  text-align:center;
}

.iframe-wrapper .spinner-container::before {
  content: "Loading Page";
  font-weight: 500;
  color:#555;
  font-size:1.2em;
  position: absolute;
  top:50%;
  left:30%;
  width:40%;
  line-height:25px;
  margin-top:40px;
  text-align:center;
}*/

#page {
  display:block;
  width:100%;
  height:100%;
}

.block {
  background-color: rgba(255,255,0,0.5);
  border:1px solid #bbb;
}
.block.keep {
  background-color: #bada55 !important;
  color: black !important
}
.block.remove{
  background-color:red !important;
  color:white !important;
}
.selection { background-color: rgba(186,218,85,.2) }
.selection.remove { background-color: rgba(255,0,0,0.2)}
#page, #page * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.document-removed * {
  color:red !important;
  text-decoration: line-through;
}

.save-form {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  -moz-flex-direction:row;
  flex-direction:row;
}
.save-form-buttons {
  /*width:10em;*/
  padding-left:0.5em;
  -webkit-flex-shrink:0;
  -moz-flex-shrink:0;
  -ms-flex-shrink:0;
  flex-shrink:0;
  text-align:right;
}