
.aligned-html {
  width:100%;
  height:60vh;
  overflow: auto;
  font-family: monospace;
  white-space: pre-wrap;
  font-size:.8em;
}
.aligned-html .keep-char {
  color:#0055ff;
}
.aligned-html .remove-char {
  color:#bbb;
}
