<template name="viewPage">
  <div class="main-container view-page">

    {{> browser labels=labels blockedContent=blocked_source zoom=zoomLevel}}

    <div class="cleaned-gt">


    <div class="panel panel-default panel-main {{#if removed}}document-removed{{/if}}">
      <div class="panel-heading"><h3 class="panel-title">{{hostname(url)}}</h3></div>
      <div class="panel-body">
        <p>
          <strong>{{dataset.id}}</strong> / {{doc_id}}
        </p>
        {{#if curLabeling.user_generated}}
          <p>User labeling by {{curLabelUser.profile.name}}<br />
             on {{formatDate curLabeling.metadata.last_edited}} at {{formatTime curLabeling.metadata.last_edited}}.</p>
          <p>Time taken: {{formatDuration curLabeling.metadata.started curLabeling.metadata.last_edited}}</p>
        {{else}}
          {{#if curLabeling}}
            <p>Labeling {{curLabeling.label_name}}</p>
            {{#if curLabeling.metadata.aligned}}
              <p><a class="view-alignment"><span class="glyphicon glyphicon-chevron-right"></span> View alignment</a></p>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="panel panel-default"><div class="panel-body">
      <h5>Zoom level</h5>
      <p><input type="range" id="zoom-level" min="50" value="{{zoomLevelHuman}}" max="150" step="1" style="width:30%;display:inline-block;"> {{zoomLevelHuman}}%</p>
    </div></div>

    {{#if isAdmin}}
    <div class="panel panel-default"><div class="panel-body">
      <h5>Admin</h5>
      <p>{{#if removed}}Removed, <a class="unremove-page"> unremove</a>.{{else}}<button class="btn btn-danger remove-page">Remove page</button>{{/if}}</p>
    </div></div>
    {{/if}}
    </div>


  </div>

  {{#contentFor "breadcrumbs"}}
    <li><a href="/view">View</a></li>
    <li>
      <a href="{{pathFor route='view.dataset' id=dataset.id}}">
        {{dataset.name}}
      </a>
    </li>
    <li>
      <a href="#" class="prev-page">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      {{doc_id}}
      <a href="#" class="next-page">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
    <li>
      <select class="labeling-selector">
      {{#each availableLabelings}}
        <option value="{{this}}" {{labelingSelected this}}>{{this}}</option>
      {{/each}}
      </select>
    </li>
  {{/contentFor}}

</template>
