body {
  padding-top:51px;
}
.main-container {
  overflow:auto;
  position:absolute;
  top:51px;left:0;right:0;bottom:0;
  background-color:#444;
}

.cleaned-gt {
  width:30%;
  right:0;top:0;bottom:0;
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
  padding:1em;
  /*white-space: pre-wrap;*/
  color:#eee;
  /*box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);*/
}

.main-content {
  padding-top:1em;
}
.login-container {
  width:20em;
  margin:0 auto;
  text-align:center;
}
.login-container h3 {
  margin-bottom:1em;
}

a {
  cursor:pointer;
}

.nav .breadcrumb {
    float: left;
    margin: 7px 10px;
}

.table {
  width: auto;
}






