body {
  padding-top:51px;
}
.main-container {
  overflow:auto;
  position:absolute;
  top:51px;left:0;right:0;bottom:0;
  background-color:#444;
}

.cleaned-gt {
  width:30%;
  right:0;top:0;bottom:0;
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
  padding:10px;
  /*white-space: pre-wrap;*/
  /*color:#eee;*/
  /*box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);*/
}
.cleaned-gt .panel {
  /*border-radius:0;*/
  background-color: rgba(248,248,248,.9);
  border: 1px solid rgba(248,248,248,.9);
  margin-bottom:10px;
}
.cleaned-gt .panel-main {
  background-color: rgb(248,248,248);
  border-color: rgb(248,248,248);
}
.cleaned-gt .panel-body {
  padding: 8px 13px;
  padding-bottom:5px;
}
.cleaned-gt .panel-body-buttons {
  padding: 13px;
}
.cleaned-gt .panel-heading {
  padding: 10px 13px;
}

.main-content {
  padding-top:1em;
}
.login-container {
  max-width:40em;
  margin:0 auto;
}
.login-container h3 {
  margin-bottom:1em;
  text-align:center;
}

a {
  cursor:pointer;
}

.nav .breadcrumb {
    float: left;
    margin: 7px 10px;
}

.table {
  width: auto;
}

.gray {
  color: #888;
  font-size:.8em;
}

.dataset-item-removed {
  text-decoration: line-through;
}